
p{

    left: 50px;
    top: -5px;
  position: absolute;
}

bot {
    left: 300px;
    top: 13px;
    position: absolute;
}


.foto1 {
    width: 900px;
    height: 450px;
    position: relative;
    top: 100px;
    left: 200px; 
    }























