
@{
    ViewBag.Title = "InactivarAdmUsuario";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S I G E C A</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/MenuIF.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"> SIGECA </a>


                <div style="color:white; background:gray; padding: 15px 50px 5px 50px; float:right; font-size:15px;">
                    <i class="glyphicon glyphicon-user"> SIGECA </i>
                    <div id="Fecha"></div>
                    <a href="#" class="btn-dark">Salir</a>
                </div>

            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <!-- tamaño de iconos es 32x32 se descargadon en flat icon -->
                        <img src="/Imagenes/Muni.jpg" class="user-image img-responsive" />
                    </li>
                    <li>
                        <a href="@Url.Action("Menu", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/home.png" /> Inicio  </a>
                    </li>
                    <li>
                        <a href="@Url.Action("BuscarAdmUsuario", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/search-user.png" />Buscar Usuario</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AgregarAdmUsuario", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/new-user.png" />Agregar Usuario</a>
                    </li>

                    <li>
                        <a href="@Url.Action("InactivarAdmUsuario", "Shared")"> <i class="menu-fontStyle"></i> <img src="/Imagenes/remove-user.png" /> Inactivar Usuario </a>
                    </li>

                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <form class="well form-horizontal" action=" " height=400px method="post" id="contact_form">
                            <fieldset>
                                <legend align="center"> <b>Activar/ inactivar usuario</b> </legend><br />
                                <!-- Nombre del form -->
                                <legend>Información personal </legend>
                                <!-- Nombre Completo -->
                                <div class="form-group">
                                    <label> Nombre completo<font color="red">*</font></label> <br>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="nombre" placeholder="Nombre Completo" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>
                                <!--Seleccionar el tipo de identificacion-->
                                <!-- Informacion Telefono-->
                                <div class="form-group">
                                    <label>Teléfono<font color="red">*</font></label>
                                    <font size="1" color="blue"><label> 2430 1212 </label></font> <br>
                                    <div class="col-md-2 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                            <input name="telefono" placeholder="2430 1212" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>
                                <!--Informacion Correo-->
                                <div class="form-group">
                                    <label>Correo<font color="red">*</font></label>
                                    <font size="1" color="blue"><label> correo@dominio.com</label></font> <br>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                            <input name="email" placeholder="correo@dominio.com" class="form-control" type="text" required>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="Boton"> Inactivar </button>

                            </fieldset>
                        </form>

                        <script src="js/extention/choices.js"></script>
                        <script>
                            const choices = new Choices('[data-trigger]',
                                {
                                    searchEnabled: false,
                                    itemSelectText: '',
                                });

                        </script>


                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
                            
                             <footer>
        <div style="min-height: 100px;" class="footer" id="footer-sub">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 vertical-line" style="padding-left:0px">
                        <h5 style="text-align:center; font-size:20px"> Ayuda </h5>
                        <ul>
                            <li><a href="">Sección de Administración de Usuarios</a><hr></li>
                            <li><a href="">Sección de Agendar Citas</a><hr></li>
                            <li><a href="">Sección de Calendario</a><hr></li>
                            <li><a href="">Sección de Expedientes</a><hr></li>
                        </ul>
                    </div>

                    <div class="col-md-7">
                        <div id="acercaDe"
                            <h5 style="text-align:center; margin-left:100px; font-size:25px; color:white" class="acercaDe"> Sobre los desarrolladores </h5>
                            <p style="text-align:center; margin-left:100px"> Somos un equipo de estudiantes de la Universidad Nacional de Costa Rica
                            que estudia la carrera de Ingeniería en Sistemas. Este sistema se desarrolló como parte del requisito estipulado dentro del curso de Ingeniería. Agradecemos
                            a la Municipalidad de Alajuela y la Oficina de la Mujer, por la gran oportunidad que nos dieron, y así lograr los requesitos del curso y ayudarnos
                            con nuestra formación como futuros profesionales.
                            </p>
                            <ul>

                            </ul>
                            </divclass="acercaDe">
                            </div>
                    </div>
                </div>
            </div>
            <div style="min-height: 28px; margin-top:0px;  text-align:center" id="footer-main">
                <ul>
                    <h1 style="align-content:center">Todos los derechos reservados</h1>
                </ul>
            </div>
    </footer>  
                            
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="js/custom.js"></script>
    <!------HORA SCRIPT-------->
    <script src="~/Scripts/Hora.js"></script>

</body>
</html>


